.sideright > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}
.search__container > .MuiSvgIcon-root{
    color: gray;
    padding: 1px;
}
.chat__footer > .MuiSvgIcon-root{
    padding: 1px;
    color: gray;
}
.chat__body{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
}
.chat__receiver{
    margin-left: auto;
    background-color: #dcf8c6;
}